<nav class="bg-gray-800 p-4">
    <ul class="flex space-x-4">
      <li>
        <a
          routerLink="/controlFlow"
          class="text-white hover:text-gray-300  cursor-pointer"
          >Control Flow</a
        >
      </li>
      <li>
        <a
          routerLink="/dataBinding"
          class="text-white hover:text-gray-300 cursor-pointer"
          >Data Binding</a
        >
      </li>
      <li>
        <a
          routerLink="/linkSignal"
          class="text-white hover:text-gray-300 cursor-pointer"
          >Link Signal</a
        >
      </li>
      <li>
        <a
          routerLink="/ngClass"
          class="text-white hover:text-gray-300 cursor-pointer"
          >NgClass</a
        >
      </li>
      <li>
        <a
          routerLink="/ngFor"
          class="text-white hover:text-gray-300 cursor-pointer"
          >NgFor</a
        >
      </li>
      <li>
        <a
          routerLink="/ngIf"
          class="text-white hover:text-gray-300 cursor-pointer"
          >NgIf</a
        >
      </li>
      <li>
        <a
          routerLink="/signal"
          class="text-white hover:text-gray-300 cursor-pointer"
          >Signal</a
        >
      </li>
      <li>
        <a
          routerLink="/title"
          class="text-white hover:text-gray-300 cursor-pointer"
          >Title</a
        >
      </li>
      <li>
        <a
          routerLink="/user"
          class="text-white hover:text-gray-300 cursor-pointer"
          >User</a
        >
      </li>
      <li>
        <a
          routerLink="/admin"
          class="text-white hover:text-gray-300 cursor-pointer"
          >Admin</a
        >
      </li>
      <li>
        <a
          routerLink="/templateForm"
          class="text-white hover:text-gray-300 cursor-pointer"
          >Template Form</a
        >
      </li>
      <li>
        <a
          routerLink="/reactiveForm"
          class="text-white hover:text-gray-300 cursor-pointer"
          >Reactive Form</a
        >
      </li>
      <li>
        <a
          routerLink="/apiCall1"
          class="text-white hover:text-gray-300 cursor-pointer"
          >Api call 1</a
        >
      </li>
    </ul>
    <div >
        <button class="bg-yellow-500 rounded-lg font-bold p-5 m-5 " (click)="navigateTo()">Route Dynamically</button>
    </div>
  </nav>
  

  